At the beginning read the structure of the project with a command

Everything socket.io related client-side should be in the MultiplayerContext

there is a server in the /server folder. Adapt it, if needed (which is most of the time), whenever you make changes

Do not change constants unless needed for your task.

Do not add comments, unless absolutely necessary.

Use named functions. Do not use const functions.

Use guards over nested conditionals.

Use types over interfaces in typescript code.